*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'LL Circular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(8, 238, 238); */
  color: #142b6f;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

a, a:hover {
    color: #142b6f;
    text-decoration: none;
}

h1{
    font-family: LL Circular,sans-serif;
    font-weight: 500;
    display: block;
    text-align: left;
}

h2{
    font-family: LL Circular,sans-serif;
    font-weight: 500;
    display: block;
}

@font-face {
  font-family: LL Circular;
  src: url(./assets/fonts/lineto-circular-medium.woff2);
}

@font-face {
  font-family: Dutch801;
  src: url(./assets/fonts/3653C9_1_0.woff2);
}

@font-face {
  font-family: Dutch801 N;
  src: url(./assets/fonts/3653C9_0_0.woff2);
}
